.root {
  position: relative;
}

.filmPreview {
  padding: 50px;
  background-color: #070708;
  border-radius: 20px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.title {
  h1 {
    font-size: 34px;
    font-weight: 600;
    letter-spacing: 1px;
  }

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main {
  max-width: 450px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rightSide {
  width: 300px;
}