@import '@/shared/styles/respValue';


.root {
  position: relative;

  @media (width <= 900px) {
    padding: 24px 0;

  }

  .container {
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;

    @include respValue('padding-left', 10, 90);

    @include respValue('padding-right', 10, 90);

    margin-top: 50px;
  }

  .default {
    width: 100%;
    background: rgb(173 36 27 / 72%);
    padding: 12px 10px;
    border-radius: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
  }


}

