@import '@/shared/styles/respValue';

.root {

  @include respValue('padding', 20, 50);

  background-color: #070708;
  border-radius: 20px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.title {
  h1 {

    @include respValue('font-size', 24, 34);

    font-weight: 600;
    letter-spacing: 1px;
  }

  display: flex;
  flex-direction: column;
  gap: 30px;


  .filmDetails {
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    gap: 20px;

    .filmRating {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}

.main {
  max-width: 450px;
  height: 80px;

  .shortDescription {

    @include respValue('font-size', 18, 21);
  }
}


.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;

  .buttonDetails {
    padding: 25px 30px;
    border-radius: 25px;
  }
}

.rightSide {
  position: relative;
  width: 500px;


  @media (width <= 900px) {
    width: 100%;
  }
}


.sliderItem {
  img {
    width: 100%;
    border-radius: 20px;

  }
}